.git
.gitignore
.env
.env.*
!.env.example
vendor/
node_modules/
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests/
.phpunit.cache
.phpactor.json
.phpunit.result.cache
Dockerfile
.dockerignore
README.md
